# Frontend ignore rules
/frontend/node_modules/
/frontend/.pnp
/frontend/.pnp.js
/frontend/.yarn/install-state.gz
/frontend/coverage/
/frontend/.next/
/frontend/out/
/frontend/build/
/frontend/.DS_Store
/frontend/**/*.pem
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.env*.local
/frontend/.vercel
/frontend/**/*.tsbuildinfo
/frontend/next-env.d.ts

# Backend ignore rules
/backend/HELP.md
/backend/.gradle/
/backend/build/
!/backend/gradle/wrapper/gradle-wrapper.jar
!/backend/**/src/main/**/build/
!/backend/**/src/test/**/build/
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache
/backend/bin/
!/backend/**/src/main/**/bin/
!/backend/**/src/test/**/bin/
/backend/.idea/
/backend/*.iws
/backend/*.iml
/backend/*.ipr
/backend/out/
!/backend/**/src/main/**/out/
!/backend/**/src/test/**/out/
/backend/nbproject/private/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/
/backend/.vscode/
